
* {
    font-family: 'Roboto', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomizeMachine {
    img {
      width: 100px;
      height: 100px;
    }
}


.result-container {
  display: flex;
  justify-content: space-around;
}



